.page.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    border: 0.2rem solid purple;
    width: 22%;
    height: 24rem;
    background: purple;
}

.form-inputs input, .form-inputs button {
    border-color: white;
    border-radius: 0.5rem;
    color: purple;
    font-size: 0.8rem;
}

.error-span {
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem 1.1rem;
    margin: 0 2rem;
    border-radius: 0.5rem;
    background-color: white;
    color: crimson;
}

.success-span {
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem 1.1rem;
    margin: 0 2rem;
    border-radius: 0.5rem;
    background-color: white;
    color: limegreen;
}

.page.login h1 {
    font-size: 2rem;
    text-decoration: underline;
    color: white;
}