.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 4vmin;
    height: 9vmin;
    background-color:white;
    box-shadow: 0 1vmin 1vmin 0 rgba(0,0,0,0.1);
    z-index: 99;
}

.navbar h1 {
    color: grey;
    font-size: 5vmin;
    margin: 0 4vmin;
}

.user-nav a, .user-nav button {
    display: inline-block;
    font-size: 2.2vmin;
    margin: 0 2vmin;
    padding: 1vmin 2.2vmin;
    border: 0.25vmin solid grey;
    border-radius: 1vmin;
    background-color: white;
    color: grey;
}

.route-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.route-nav a {
    margin: 0 2.5vmin;
}

.route-nav p {
    font-size: 2.2vmin;
    padding: 1vmin 2.2vmin;
    border-radius: 1vmin;
    background-color: white;
    color: grey;
}