.content.with-h1-img {
    padding-top: 2.4vmin;
}

.messages-thread .content ul {
    display: grid;
    grid-template-columns: 36vmin;
    grid-auto-rows: min-content;
    grid-row-gap: 2vmin;
    height: 60vmin;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2vmin;
}

/* width */
::-webkit-scrollbar {
    width: 0.8vmin;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}
  
.title-img {
    position: relative;
    top: 0.4vmin;
    margin-left: 1vmin;
    height: 5vmin;
    width: 5vmin;
    border-radius: 5vmin;
}

.message-container {
    font-size: 1.5vmin;
    padding: 1vmin 0.5vmin;
    border-radius: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: opacity-delay;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.message-container > :nth-child(1) {
    word-break: break-all;
}

.message-container.logged-user {
    position: relative;
    left: 41vmin;
    background-color: purple;
}

.message-container.opposite-user {
    position: relative;
    left: 0vmin;
    background-color: deepskyblue;
}

.message-container p {
    color: white;
    margin: 0 2vmin;
}

.form-inputs.send-message {
    position: fixed;
    bottom: 5vmin;
    margin-left: 2vmin;
}

.form-inputs.send-message p {
    color: white;
}

.form-inputs.send-message input {
    background: white;
    color: darkgrey;
    width: 68vmin;
}

.form-inputs .send-button {
    color: white;
    border: none;
    background: purple;
}

.thread-legend {
    padding: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thread-legend div {
    color: white;
    font-size: 1.5vmin;
    margin: 0 2vmin;
}

.thread-legend .purple-circle {
    color: purple;
}

.thread-legend .blue-circle {
    color: deepskyblue;
}