.content.with-h1-img {
    padding-top: 2.4vmin;
}

.messages .content ul {
    display: grid;
    grid-template-columns: 36vmin;
    grid-auto-rows: min-content;
    grid-row-gap: 2vmin;
    height: 60vmin;
    overflow: auto;
    padding: 2vmin;
}

.title-img {
    position: relative;
    top: 0.4vmin;
    margin-left: 1vmin;
    height: 5vmin;
    width: 5vmin;
    border-radius: 5vmin;
}

.message-container {
    font-size: 1.5vmin;
    min-height: 4vmin;
    background-color: rgb(62, 200, 255);
    border-radius: 2vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: opacity-delay;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.message-container.recipient {
    position: relative;
    left: 41vmin;
    background-color: deeppink;
    border: none;
}

.message-container p {
    color: white;
    margin: 0 2vmin;
}

.form-inputs.send-message {
    position: fixed;
    bottom: 5vmin;
    margin-left: 2vmin;
}

.form-inputs.send-message input {
    width: 68vmin;
}

.form-inputs .send-button {
    color: white;
    border: none;
    background: rgb(62, 200, 255);
}