.content.with-h1-img {
    padding-top: 2.4vmin;
}

.content.with-h1-img h1 a {
    color: white;
}

.messages-thread .content ul {
    display: grid;
    justify-content: flex-start;
    height: 78%;
    grid-template-columns: 34vmin;
    grid-auto-rows: min-content;
    grid-row-gap: 2vmin;
    padding-left: 2vmin;
}

.message-container {
    font-size: 1.5vmin;
    padding: 1vmin 0.5vmin;
    border-radius: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: opacity-delay;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.title-img {
    position: relative;
    top: 0.4vmin;
    object-fit: cover;
    margin-left: 1vmin;
    height: 5vmin;
    width: 5vmin;
    border-radius: 5vmin;
}

.msg-content {
    word-break: break-all;
}

.msg-date {
    white-space: nowrap;
}

.message-container.logged-user {
    position: relative;
    left: 41vmin;
    background: #D63B5E;
}

.message-container.opposite-user {
    position: relative;
    left: 0vmin;
    background: #B73170;
}

.message-container p {
    color: white;
    margin: 0 2vmin;
}

.form-inputs.send-message input {
    width: 70.5vmin;
}

.messages-thread .form-inputs input {
    background: transparent;
    border: 0.3vmin solid white;
}

.form-inputs.send-message {
    position: absolute;
    bottom: 3vmin;
}

.form-inputs.send-message p {
    color: white;
    font-size: 2vmin;
}

.form-inputs.send-message button {
    background: transparent;
    border: 0.3vmin solid white;
}

.thread-legend {
    padding: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thread-legend div {
    color: white;
    font-size: 1.5vmin;
    margin: 0.5vmin 2vmin 0 2vmin;
}

.thread-legend .purple-circle {
    color: #D63B5E;
}

.thread-legend .blue-circle {
    color: #B73170;
}

.delete-all {
    position: absolute;
    top: 4vmin;
    right: 2vmin;
    color: white;
    background-color: transparent;
    border: 0.3vmin solid white;
    border-radius: 2vmin 2vmin 0 0;
}

.delete-message {
    position: relative;
    left: 1vmin;
    color: white;
    opacity: 0;
    cursor: pointer;
}

.message-container:hover .delete-message {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .content.with-h1-img {
        padding-top: 2.4vmin;
    }

    .messages-thread .content ul {
        height: 85%;
    }

    .title-img {
        display: none;
    }

    .message-container {
        font-size: 3vmin;
        padding: 2vmin 1vmin;
        border-radius: 2vmin;
    }

    .message-container.logged-user {
        position: relative;
        left: 41vmin;
    }

    .message-container.opposite-user {
        position: relative;
        left: 0vmin;
    }

    .message-container p {
        margin: 0 2vmin;
    }

    .form-inputs.send-message {
        position: absolute;
        bottom: 3vmin;
        margin-left: 2vmin;
    }

    .form-inputs.send-message p {
        font-size: 3vmin;
    }

    .form-inputs.send-message input {
        width: 60vmin;
        padding: 1.5vmin 1vmin;
    }

    .form-inputs button {
        font-size: 4vmin;
        padding: 1.7vmin 2vmin;
        margin-left: 4vmin;
    }

    .thread-legend div {
        margin: 1.5vmin 2vmin 0 2vmin;
        font-size: 3vmin;
    }

    .delete-all {
        font-size: 3vmin;
        position: absolute;
        top: 2.8vmin;
        right: 2vmin;
        border: 0.3vmin solid white;
        border-radius: 2vmin 2vmin 0 0;
        border-bottom: none;
    }

    .delete-message {
        position: relative;
        left: 1vmin;
        opacity: 0;
    }
}