.find .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vmin;
    background: transparent;
    box-shadow: unset;
}

.find .content h1 {
    color: darkgrey;
    border-color: darkgrey;
}

.find-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container button {
    width: 10vmin;
    margin-top: 4vmin;
    background: purple;
    box-shadow: 1vmin 1vmin 0.5vmin 0vmin rgba(0,0,0,0.15);
    color: white;
    border: none;
}

.buttons-container button i {
    color: white;
}

.swiping-limit h3 {
    padding: 2vmin;
    border-radius: 2vmin;
    background: white;
    text-align: center;
}

.next-button > :nth-child(2) {
    position: absolute;
    left: 70vmin;
    top: 28vmin;
    font-size: 20vmin;
    color: darkgrey;
}

.next-button:hover > :nth-child(2) {
    color: purple;
}

.like-button > :nth-child(2) {
    position: absolute;
    left: -30vmin;
    top: 28vmin;
    font-size: 20vmin;
    color: darkgrey;
}

.like-button:hover > :nth-child(2) {
    color: purple;
}