.find .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vmin;
}

.find .content h1 {
    color: darkgrey;
    border-color: darkgrey;
}

.buttons-container button {
    color: white;
}