.find .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vmin;
    background: transparent;
    box-shadow: unset;
}

.find .content h1 {
    color: darkgrey;
    border-color: darkgrey;
}

.buttons-container button {
    background: transparent;
    color: white;
}

.buttons-container button:hover i {
    color: purple;
}

.swiping-limit h3 {
    padding: 2vmin;
    border-radius: 2vmin;
    background: white;
    text-align: center;
}