.react-tabs {
    -webkit-tap-highlight-color: transparent;
}
  
.react-tabs__tab-list {
    text-align: center;
    margin: 1vmin 0vmin;
    padding: 0;
}

.react-tabs__tab {
    font-size: 1.9vmin;
    display: inline-block;
    list-style: none;
    padding: 0.6vmin 1.2vmin;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: rgb(62, 200, 255);
    border-radius: 1vmin;
    color: white;
}

.react-tabs__tab--disabled {
    color: white;
    cursor: default;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}
