.user .content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: unset;
    animation: opacity-delay;
    animation-delay: 0.5s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.user-info {
    font-size: 2vmin !important;
    width: 40vmin !important;
    height: 59vmin !important;
    padding: 5vmin !important;
    background: #3e1b4b !important;
    border-radius: 2vmin !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info .user-username {
    width: 100%;
    margin: 1vmin;
    color: white;
    font-size: 3vmin;
    text-align: center;
    padding: 1vmin 2vmin;
    background-color: #32153d;
    border-radius: 2vmin;
}

.user-img {
    margin: 1vmin;
    border-radius: 50%;
    height: 21vmin;
    width: 21vmin;
    border: 2vmin solid #32153d;
    pointer-events: none !important;
}

.user-info .user-introduction {
    width: 100%;
    margin: 1vmin;
    padding: 1vmin 2vmin;
    border-radius: 2vmin;
    background-color: #32153d;
    color: white;
    font-size: 1.6vmin;
}

.age-gender-box {
    margin: 1vmin;
    background: #32153d;
    color: white;
    border-radius: 1vmin;
    padding: 0.8vmin;
}

.age-gender-box i {
    color: white;
}

.unlike {
    margin-top: 2vmin;
    font-size: 3vmin;
    cursor: pointer;
}

.unlike i {
    color: white;
}
