.user-nav-buttons {
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav-buttons a {
    margin: 0.75vmin 1vmin;
    padding: 0.5vmin 1vmin;
    border-radius: 1vmin;
    color: white;
}

.user-nav-buttons .active {
    background-color: purple;
    color: white;
}

.age-text {
    font-size: 1.8vmin;
    color: white;
    background: purple;
    width: 4.5vmin;
    padding: 0.5vmin;
    border-radius: 1vmin;
    margin: 1vmin 0;
}

.age-text i {
    font-size: 1.8vmin;
    color: white;
}

.user-info img {
    border-radius: 1vmin;
}