.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-div {
    border-radius: 3vmin;
    padding: 4vmin;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 55vmin;
    height: 30vmin;
}

.animation-div .motion-h1 {
    text-align: center;
    font-size: 4vmin;
    font-weight: bold;
    color: darkgrey;
}

.animation-div .motion-p {
    text-align: center;
    font-size: 1.8vmin;
    font-weight: 200;
    color: darkgrey;
}

.color-text {
    color: #4c1d5e;
    animation: opacity-delay;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-timing-function: linear;
    opacity: 0;
}

.animation-div .call-to-action {
    margin-top: 1vmin;
}

.animation-div .call-to-action a {
    background-color: #4c1d5e;
    color: white;
    border: unset;
    box-shadow: 0.7vmin 0.7vmin 0.7vmin rgba(0, 0, 0, 0.3);
}

.animation-div a {
    margin: 1.5vmin;
    padding: 0.5vmin 4vmin;
    border-radius: 1vmin;
    border: 0.25vmin solid darkgrey;
    width: 15vmin;
    height: 3vmin;
    text-align: center;
    font-size: 1.4vmin;
    font-weight: 200;
    color: darkgrey;
    background-color: transparent;
}

@media only screen and (max-width: 767px) {
    .animation-div {
        border-radius: 3vmin;
        padding: 4vmin;
        width: 55vmin;
        height: 30vmin;
    }
    
    .animation-div .motion-h1 {
        font-size: 7vmin;
    }
    
    .animation-div .motion-p {
        display: none;
    }
    
    .animation-div .call-to-action {
        margin-top: 2vmin;
    }
    
    .animation-div a {
        font-size: 4vmin;
        font-weight: 200;
    }    
}